SourceCode/.vs
SourceCode/.vscode
SourceCode/build

Log.txt
libCrySystem.so
libCryScriptSystem.so

CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile 

pthreads_test
pthreads_test.cpp

build

FCData/
Linux_port/FCData
FCData.7z
